

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-size: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
